%header.row
  .small-12.columns
    = link_to :root do
      %h1 Sleeping King Studios
    %nav
      %ul.small-block-grid-4
        %li
          = link_to :root do
            %h4.text-center Home
        %li
          = link_to :root do
            %h4.text-center Articles
        %li
          = link_to :root do
            %h4.text-center Blog
        %li
          = link_to :root do
            %h4.text-center About
    %hr
