%nav
  %ul.small-block-grid-4.large-block-grid-1{ :class => "small-block-grid-#{current_user ? 5 : 4}"}
    %li
      = link_to :root do
        %h4= I18n.t('navigation.home')
    %li
      = link_to blog_path do
        %h4= I18n.t('navigation.blog')
    - if current_user
      %li
        = link_to admin_path do
          %h4= I18n.t('navigation.admin')
  %hr
