%nav
  %ul.large-block-grid-1{ :class => "small-block-grid-#{current_user ? 5 : 4}"}
    %li= link_to I18n.t('navigation.home'), :root
    %li= link_to I18n.t('navigation.blog'), blog_path
    %li= link_to I18n.t('navigation.projects'), projects_path
    %li= link_to I18n.t('navigation.about'), about_path
    - if current_user
      %li= link_to I18n.t('navigation.admin'), admin_path
  %hr
