-# app/views/admin/blog_posts/show/_navigation.html.haml

.row{ :style => 'margin-bottom:1rem;' }
  .large-4.columns
    - if prev_post.blank?
      &nbsp;
    - else
      = link_to admin_blog_post_path(prev_post) do
        = render_with_icon(I18n.t 'admin.blog_posts.show.prev')
  .large-4.columns.text-center
    = link_to admin_blog_path do
      = render_with_icon(I18n.t 'admin.blog_posts.show.back')
  .large-4.columns.text-right
    - if next_post.blank?
      &nbsp;
    - else
      = link_to admin_blog_post_path(next_post) do
        = render_with_icon(I18n.t 'admin.blog_posts.show.next')
