-# app/views/admin/blogs/_form.html.haml

= form_for blog, :url => admin_blog_path, :builder => FoundationFormBuilder do |form|
  = form.label :title, t('blog.title')
  = form.text_field :title, :autofocus => true

  .text-right
    = link_to t('shared.cancel'), admin_blog_path, :class => 'button cancel radius'
    = form.submit t('admin.blog.new.submit'), :class => 'button radius'
