-# app/views/admin/blog_posts/_form.html.haml

- presenter = Admin::BlogPostPresenter.new(post)
= form_for [:admin, post], :builder => FoundationFormBuilder, :html => { :class => 'admin-blog-posts-form', :data => { :"appleseed-layout" => 'Admin.BlogPosts.Form'} } do |form|
  .row
    .large-6.columns
      = form.label :title, t('blog_post.fields.title')
      = form.text_field :title, :autofocus => true
    .large-6.columns
      = form.label :slug, t('blog_posts.fields.slug')
      = form.text_field :slug, :placeholder => post.to_slug, :value => post.slug_lock ? post.slug : ''

  = form.label :taggings, t('models.taggable.tags')
  = text_field_tag :blog_post_taggings, presenter.tagging_names.join(', '), :name => :'blog_post[taggings]'

  = form.label :content_type, t('blog_post.fields.content_type')
  = select_content_type_tag form, post

  = form.label :content, t('blog_post.fields.content')
  = form.text_area :content, :data => { :"appleseed-autosize" => true }

  .text-right
    = link_to t('shared.cancel'), post.persisted? ? admin_blog_post_path(post) :admin_blog_path, :class => 'button secondary radius'
    = link_to render_with_icon(I18n.t 'admin.blog_posts.preview.submit'), '#', :id => 'preview-blog-post-button', :class => 'button radius hide', :data => { :path => preview_admin_blog_posts_path }
    = form.submit render_without_icon(post.persisted? ? t('admin.blog_posts.edit.submit') : t('admin.blog_posts.new.submit')), :class => 'button success radius'
