-# app/views/admin/blog_posts/preview.html.haml

%h1= @blog.title

%h2= @blog_post.title

%p= I18n.t('blog_post.show.published_by', :author => @blog_post_presenter.author_name, :date => @blog_post_presenter.published_date)

= render :partial => 'admin/blog_posts/preview/navigation'

= @blog_post_presenter.formatted_content

= render :partial => 'admin/blog_posts/preview/navigation'
