-# app/views/admin/blog_posts/show.html.haml

= content_for :body_class do
  admin-blog-posts-show

%h1= I18n.t('admin.blog_posts.show.title')

%div{ :data => { :"appleseed-layout" => 'Admin.BlogPosts.Show' } }
  = render :partial => 'admin/shared/modals/confirm_delete', :locals => { :title => I18n.t('admin.blog_posts.delete.confirm.title'), :body => I18n.t('admin.blog_posts.delete.confirm.body', :title => @blog_post.title), :submit => render_with_icon(I18n.t 'admin.blog_posts.delete.submit') }
  %p
    %strong
      = succeed(':') do
        = I18n.t('shared.actions')
    - unless @blog_post.published?
      = link_to render_with_icon(I18n.t 'admin.blog_posts.actions.publish'), publish_admin_blog_post_path(@blog_post), :method => :patch, :class => ' success'
      &mdash;
    = link_to render_with_icon(I18n.t 'admin.blog_posts.actions.preview'), preview_admin_blog_post_path(@blog_post), :target => '_blank'
    &mdash;
    = link_to render_with_icon(I18n.t 'admin.blog_posts.actions.edit'), edit_admin_blog_post_path(@blog_post)
    &mdash;
    = link_to render_with_icon(I18n.t 'admin.blog_posts.actions.export'), admin_blog_post_path(@blog_post, :format => :json), :target => :blank
    &mdash;
    = link_to render_with_icon(I18n.t 'admin.blog_posts.actions.delete'), admin_blog_post_path(@blog_post), :method => :delete, :class => 'alert delete-link'

- nav_options = { :current_post => @blog_post, :first_post => @blog_post.last_most_recent, :prev_post => @blog_post.next_most_recent, :next_post => @blog_post.prev_most_recent, :last_post => @blog_post.first_most_recent }
= render :partial => 'admin/blog_posts/show/navigation', :locals => nav_options

%h2= @blog_post.title

%p
  = succeed(':') do
    %strong= I18n.t('blog_post.fields.slug')
  %i{ :class => @blog_post.slug_lock ? 'fi-lock' : 'fi-unlock' }
  = @blog_post.slug
  %br
  = succeed(':') do
    %strong= I18n.t('models.taggable.tags')
  = @blog_post_presenter.taggings_list
  %br
  = succeed(':') do
    %strong= I18n.t('blog_post.fields.content_type')
  = @blog_post_presenter.localized_content_type
  %br
  = succeed(':') do
    %strong= I18n.t('blog_post.published')
  = @blog_post_presenter.published_mark
  = @blog_post_presenter.published_date

%p
  = succeed(':') do
    %strong= I18n.t('admin.blog_posts.raw_content')
  %br
  = @blog_post_presenter.raw_content

= render :partial => 'admin/blog_posts/show/navigation', :locals => nav_options
