!!! 5
%html{ lang: 'en' }
  %head
    %meta{ :charset => "utf-8" }

    -# Set the viewport width to device width for mobile
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Sleeping King Studios"

    = stylesheet_link_tag "application"
    = yield(:stylesheets)

    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "application"
    = yield(:javascripts)

    = csrf_meta_tag

  %body
    = render :partial => 'shared/header'

    .row
      #sidebar.small-12.large-4.columns
        %hr.show-for-medium-up
        
        = render :partial => 'shared/navigation'

      .small-12.large-8.columns
        %hr.show-for-medium-up

        = yield

      .small-12.columns
        = render :partial => 'shared/footer'
