!!! 5
%html{ lang: 'en' }
  %head
    -# @font-face declarations at the top for loading purposes.
    = stylesheet_link_tag "foundation-icons"
    = stylesheet_link_tag "webfonts"

    %meta{ :charset => "utf-8" }

    -# Set the viewport width to device width for mobile
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : Setting.fetch('title', 'Appleseed CMS')

    = stylesheet_link_tag "application"
    = yield(:stylesheets)

    = javascript_include_tag "application"
    = yield(:javascripts)

    = csrf_meta_tag

  %body{ :class => yield(:body_class) }
    = render :partial => 'shared/header'

    .row
      #sidebar.small-12.large-4.columns
        %hr.show-for-medium-up
        
        = render :partial => 'shared/navigation'

      #content-area.small-12.large-8.columns
        %hr.show-for-medium-up

        = render :partial => 'shared/notices'

        = yield

        = render :partial => 'shared/breadcrumbs'

      .small-12.columns
        = render :partial => 'shared/footer'
